<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julo.android.redditpix">

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.julo.android.redditpix.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_redditgram_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Activities -->

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AuthorizeActivity" />

        <activity
            android:name=".activities.MainListActivity"
            android:logo="@drawable/ic_redditgram"
            android:label=" " />

        <activity
            android:name=".activities.SubredditListActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.PostListActivity" />

        <activity
            android:name=".activities.PostPagerActivity"
            android:theme="@style/AppThemeTranslucentNoActionBar" />

        <activity
            android:name=".activities.WebViewActivity" />

        <activity
            android:name=".activities.ImagePagerActivity"
            android:theme="@style/AppThemeTranslucentNoActionBar" />

        <activity
            android:name=".activities.OnboardingActivity"
            android:theme="@style/AppThemeTranslucentNoActionBar" />

        <!-- Meta-data -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}" />

    </application>

</manifest>
